[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==1.8.4"
flask-sqlalchemy = "==2.1"
flask = "==0.10.1"
httpreplay = "==0.2"
"jinja2" = "==2.8"
"m2crypto" = "==0.24.0"
mako = "==1.0.7"
markupsafe = "==1.0"
pillow = "==3.2.0"
sflock = "==0.2.20"
sqlalchemy = "==1.0.8"
werkzeug = "==0.15.3"
alembic = "==0.8.8"
androguard = "==3.0"
"asn1crypto" = "==0.24.0"
"beautifulsoup4" = "==4.5.3"
cffi = "==1.11.5"
chardet = "==2.3.0"
click = "==6.6"
colorama = "==0.3.7"
cryptography = "==2.1.4"
django-extensions = "==1.6.7"
dpkt = "==1.8.7"
ecdsa = "==0.13"
elasticsearch = "==5.3.0"
"enum34" = "==1.1.6"
"functools32" = "==3.2.3.post2"
idna = "==2.6"
ipaddress = "==1.0.19"
itsdangerous = "==0.24"
jsbeautifier = "==1.6.2"
jsonschema = "==2.6.0"
ndg-httpsclient = "==0.4.4"
olefile = "==0.43"
oletools = "==0.42"
peepdf = "==0.3.4"
"pefile2" = "==1.2.11"
pyopenssl = "==17.5.0"
"pyasn1" = "==0.4.2"
pycparser = "==2.18"
pymisp = "==2.4.54"
pymongo = "==3.0.3"
python-dateutil = "==2.4.2"
python-editor = "==1.0.3"
python-magic = "==0.4.12"
pythonaes = "==1.0"
requests = "==2.7.0"
scapy = "==2.3.2"
six = "==1.11.0"
tlslite-ng = "==0.6.0"
"urllib3" = "==1.22"
wakeonlan = "==0.2.2"

[requires]
python_version = "2.7"
