[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
flask-sqlalchemy = "*"
flask = "*"
httpreplay = "*"
"jinja2" = "*"
"m2crypto" = "*"
mako = "*"
markupsafe = "*"
pillow = "*"
sflock = "*"
sqlalchemy = "*"
werkzeug = "*"
alembic = "*"
androguard = "*"
"asn1crypto" = "*"
"beautifulsoup4" = "*"
cffi = "*"
chardet = "*"
click = "*"
colorama = "*"
cryptography = "*"
django-extensions = "*"
dpkt = "*"
ecdsa = "*"
elasticsearch = "*"
"enum34" = "*"
"functools32" = "*"
idna = "*"
ipaddress = "*"
itsdangerous = "*"
jsbeautifier = "*"
jsonschema = "*"
ndg-httpsclient = "*"
olefile = "*"
oletools = "*"
peepdf = "*"
"pefile2" = "*"
pyopenssl = "*"
"pyasn1" = "*"
pycparser = "*"
pymisp = "*"
pymongo = "*"
python-dateutil = "*"
python-editor = "*"
python-magic = "*"
pythonaes = "*"
requests = "*"
scapy = "*"
six = "*"
tlslite-ng = "*"
"urllib3" = "*"
wakeonlan = "*"

[requires]
python_version = "2.7"
